<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="5.0.0" />
  <package id="Newtonsoft.Json" version="12.0.3" />
  <package id="Xamarin.Forms" version="5.0.0.1874" />
  <package id="Xamarin.Forms.Platform.GTK" version="5.0.0.1874" />

  <package id="Fabulous" version="1.0.1" />
  <package id="Fabulous.LiveUpdate" version="1.0.1" />
  <package id="Fabulous.XamarinForms" version="1.0.1" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="1.0.1" />

  <package id="OpenTK" version="3.1.0" />
  <package id="System.Buffers" version="4.5.1" />
</packages>