<EditForm Model="@_changePassword" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="row">
        <label class="col-4">Current password: </label>
        <div class="col-8">
            <InputText type="password" @bind-Value="_changePassword.OldPassword" class="form-control" placeholder="Your current password" />
            <ValidationMessage For="(()=>_changePassword.OldPassword)" />
        </div>
    </div>
    <div class="row">
        <label class="col-4">New password: </label>
        <div class="col-8">
            <InputText type="password" @bind-Value="_changePassword.NewPassword" class="form-control" placeholder="Your new password" />
            <ValidationMessage For="(()=>_changePassword.NewPassword)" />
        </div>
    </div>
    <div class="row">
        <label class="col-4">Confirm new password: </label>
        <div class="col-8">
            <InputText type="password" @bind-Value="_changePassword.ConfirmNewPassword" class="form-control" placeholder="Confirm your new password" />
            <ValidationMessage For="(()=>_changePassword.ConfirmNewPassword)" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary m-5" disabled="@Submitting">Submit</button>
</EditForm>

@if (Error == true)
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" @onclick="(() => { Error = null; })" class="close">&times;</button>
        @Response
    </div>
}
@if (Error == false)
{
    <div class="alert alert-success alert-dismissible">
        <button class="close" @onclick="(() => { Error = null; })">&times;</button>
        @Response
    </div>
}

@if (Submitting)
{
    <span>Please wait...</span>
}

@code {

    private ThingLing.Shared.Models.UserAccount.ChangePassword _changePassword = new ThingLing.Shared.Models.UserAccount.ChangePassword();
    private string Response { get; set; }
    private bool? Error { get; set; } = null;
    private bool Submitting { get; set; }

    private async Task HandleValidSubmit()
    {
        try
        {
            Submitting = true;
            Error = null;
            var postResponse = await _httpClient.PostAsJsonAsync<ThingLing.Shared.Models.UserAccount.ChangePassword>($"api/ApplicationUsers/forgot-password", _changePassword);
            if (!postResponse.IsSuccessStatusCode)
            {
                Error = true;
            }
            else
            {
                Error = false;
            }
            Response = await postResponse.Content.ReadAsStringAsync();
            Submitting = false;
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
