@page "/user-account/forgot-password"
<h3>Forgot Password</h3>

<div class="jumbotron">
    <EditForm Model="@_forgotPassword" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="input-group mt-3">
            <InputText type="text" class="form-control" @bind-Value="_forgotPassword.Email" placeholder="Enter your email" />
            <div class="input-group-append mb-1">
                <button type="submit" class="input-group-text btn btn-primary" href="search/@_forgotPassword.Email">Submit</button>
            </div>
        </div>
        <ValidationMessage For="(()=>_forgotPassword.Email)" />
    </EditForm>
</div>
@if (Error == true)
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" @onclick="(() => { Error = null; })" class="close">&times;</button>
        @Response
    </div>
}
@if (Error == false)
{
    <div class="alert alert-success alert-dismissible">
        <button class="close" @onclick="(() => { Error = null; })">&times;</button>
        @Response
    </div>
}

@code {
    private ThingLing.Shared.Models.UserAccount.ForgotPassword _forgotPassword = new ThingLing.Shared.Models.UserAccount.ForgotPassword();
    private string Response { get; set; }
    private bool? Error { get; set; }

    private async Task HandleValidSubmit()
    {
        try
        {
            Error = null;
            var postResult = await _httpClient.PostAsJsonAsync<ThingLing.Shared.Models.UserAccount.ForgotPassword>($"api/ApplicationUsers/forgot-password", _forgotPassword);
            Response = await postResult.Content.ReadAsStringAsync();
            if (postResult.IsSuccessStatusCode)
            {
                Error = false;
            }
            else
            {
                Error = true;
            }
        }
        catch (Exception ex) { Console.WriteLine(ex.Message); }
    }

}
