<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <image src="icon-512.png" Width="50" />
        ThingLing
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="files">
                    <span class="oi oi-folder"></span> Files
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="contact-forms" Match="NavLinkMatch.All">
                    <span class="oi oi-envelope-closed"></span> Messages
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="software">
                <span class=" oi oi-terminal"></span> Software
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="3dmodels">
                <span class=" oi oi-layers"></span> 3D models
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="music">
                <span class=" oi oi-audio"></span> Music
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="videos">
                <span class=" oi oi-video"></span> Videos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contact" Match="NavLinkMatch.All">
                <span class=" oi oi-envelope-open"></span> Contact
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class=" oi oi-info"></span> About
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
